/*
 * Colemak Mod-DH base layer for Piantor Pro BT (36-key / 5-col layout).
 * Single layer, no home row mods. For learning/testing Colemak only.
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    chosen {
        zmk,physical-layout = &default_layout;
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "COLEMAK";
            // ----------------------------------------------------------------------------------------
            // |     |  Q  |  W  |  F  |  P  |  B  |  J  |  L   |  U  |  Y  |  ;  |     |
            // |     |  A  |  R  |  S  |  T  |  G  |  M  |  N   |  E  |  I  |  O  |     |
            // |     |  Z  |  X  |  C  |  D  |  V  |  K  |  H   |  ,  |  .  |  /  |     |
            //                    | SHFT | TAB | SPC | ENT | BSPC | GUI |
            bindings = <
                &none &kp Q &kp W &kp F &kp P &kp B   &kp J   &kp L &kp U     &kp Y   &kp SEMI &none
                &none &kp A &kp R &kp S &kp T &kp G   &kp M   &kp N &kp E     &kp I   &kp O    &none
                &none &kp Z &kp X &kp C &kp D &kp V   &kp K   &kp H &kp COMMA &kp DOT &kp FSLH &none
                                  &kp LSHFT &kp TAB &kp SPACE   &kp RET &kp BSPC &kp LGUI
            >;
        };
    };
};
